@import './consts.scss';
@import '../blocks/game-field/game-field.scss';
@import '../blocks/cells/cells.scss';
@import '../blocks/info-panel/info-panel.scss';
@import '../blocks/control-panel/control-panel.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
