// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/dropdown";

@import './consts.scss';
@import '../blocks/gameField/game-field.scss';
@import '../blocks/gameField/cells.scss';
@import '../blocks/info-panel/info-panel.scss';
@import '../blocks/control-panel/control-panel.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
